@use "colors";

/* intuitivnejsi box-sizing */
*,
:after,
:before {
  box-sizing: border-box;
}
* {
  font-family: "Karla", sans-serif;
}

.main {
  margin: 100px 150px;
}
h1 {
  color: colors.$secondary;
  font-size: 38px;
}

.article__content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  text-align: justify;
}

.project__content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
  text-align: justify;
}

.project__image {
  max-width: 400px;
  float: right;
  margin: 0 30px 15px 0;
}

.article__image {
  max-width: 400px;
  float: right;
  margin: 0 0 15px 30px;
}

.article__image,
.project__image {
  border: 5px solid colors.$primary;
  background-color: colors.$primary;
  border-radius: 10% 0 5% 5%;
  margin-top: 20px;
}

@media screen and (max-width: 1040px) {
  .main {
    margin: 100px 50px;
  }
}
@media screen and (max-width: 640px) {
  .main {
    margin: 100px 50px;
  }
  .article__content,
  .project__content,
  .set__content {
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
}
