---
layout: layouts/main.njk
image: /images/intro640.jpg
---

{% include 'partials/header.njk' %}



<main class="main">
    <article class="student">
        <h1 class="student__title">Studentské projekty</h1>
        <p>Na tomto místě budou postupně zveřejňovány projekty studentů navržené v rámci semináře Nederlandistika v mezinárodní perspektivě</p>
            <div class="student__content">
                {% for student in collections.project %}
                <div class="student__text" style="background-image: url(/images/{{student.data.photo}})">
                    <div class="student__text--up"><h3>{{ student.data.author}}</h3></div>
                    <div class="student__text--down">
                    <h4><a href="{{ student.url }}">{{ student.data.title }}</a></h4>
               
                    
                   
                    <p>{{ student.data.perex}}</p></div>
                  <!--  <div class="student__image">
                        <img src="/images/{{student.data.photo}}" alt="{{alt}}">
                    </div> -->
                    </div>
                    {% endfor %}
            </div>
    </article>
</main>


{% include 'partials/footer.njk' %}




