<header class="hlavicka">

    <div class="pozadi" style="background-image: url({{image}});"> 
   <!--<img class="bg" src="{{ image }}" alt=""> --> 
    </div>

    <nav class="menu">
        <ul>
            <li><a href="/">Úvod</a>
            
            </li>
            <li><a href="/crossover">Cross Over</a></li>
            <li><a href="/nachtboot">Noční loď</a></li>
            <li><a href="/projecten">Mezinárodní</a></li>
            <li><a href="/wens">Popřát</a></li>
        </ul>
    </nav>
</header>