---
layout: layouts/main.njk
---

{% include 'partials/header.njk' %}



<main class="main">
    <article class="article">

        <h1 class="article__title">{{ title }}</h1>
        <h2 class="article__subtitle">{{ subtitle }}</h2>
        <div class="article__content">

            <div class="article__text">

                {{ content | safe }}

            </div>

            <img class="article__image" src="/images/{{photo}}" alt="{{alt}}">

        </div>

    </article>
</main>


{% include 'partials/footer.njk' %}