---
layout: layouts/main.njk
---

{% include 'partials/header.njk' %}
{% include 'partials/menu.njk' %}


<main class="main">
    <article class="project">

        <h1 class="project__title">{{ title }}</h1>
        <h2 class="project__author">{{ author }}</h2>
        <div class="project__content">
            
            <div class="project__text">
    
                <p class="project__perex">{{ perex }}</p>

                {{ content | safe }}
    
            </div>
    
            <img class="project__image" src="/images/{{photo}}" alt="fotografie {{alt}}">
    
        </div>
    
    </article>
</main>


{% include 'partials/footer.njk' %}