---
layout: layouts/main.njk
---

{% include 'partials/header.njk' %}
{% include 'partials/menu.njk' %}


<main class="main">
    <article class="article">

        <h1 class="article__title">{{ title }}</h1>
        <div class="article__content">
            
            <div class="article__text">
    
                <p class="article__perex"></p>

                {{ content | safe }}
    
            </div>
    
            <img class="article__image" src="" alt="">
    
        </div>
    
    </article>
</main>


{% include 'partials/footer.njk' %}